.oui-tree-device li .switch{background:transparent url("imgs/tree-device.png") no-repeat 0 0;}
.oui-tree-device li .switch-open {background:url("imgs/tree-device.png") no-repeat -24px 0;}
.oui-tree-device li .switch-none {background:none;}
.oui-tree-device li .switch-none:hover {background:none;}

.oui-tree-device li span.unit{background:url("imgs/tree-device.png") no-repeat 0 -24px;}
.oui-tree-device li span.unit-open{background:url("imgs/tree-device.png") no-repeat -24px -24px;}
.oui-tree-device li span.device,
.oui-tree-device li span.device-on{background:url("imgs/tree-device.png") no-repeat -48px -24px;}
.oui-tree-device li span.device-open,
.oui-tree-device li span.device-on-open{background:url("imgs/tree-device.png") no-repeat -72px -24px;}
.oui-tree-device li span.device-off{background:url("imgs/tree-device.png") no-repeat -96px -24px;}
.oui-tree-device li span.device-off-open{background:url("imgs/tree-device.png") no-repeat -120px -24px;}
.oui-tree-device li span.camera,
.oui-tree-device li span.camera-on,
.oui-tree-device li span.camera-on-open{background:url("imgs/tree-device.png") no-repeat -144px -24px;}
.oui-tree-device li span.camera-off,
.oui-tree-device li span.camera-off-open{background:url("imgs/tree-device.png") no-repeat -168px -24px;}
.oui-tree-device li span.camera-play,
.oui-tree-device li span.camera-play-open{background:url("imgs/tree-device.png") no-repeat -192px -24px;}