.oui-tree-device ul.levelroot {
	margin:0;padding:5px 20px 50px 5px;overflow:hidden;display:block;
}


.oui-tree li .item span.unit,
.oui-tree-device li .item span.unit{background:url("imgs/tree-device.png?6") no-repeat -1px center;}

.oui-tree li .item span.unit-open,
.oui-tree-device li .item span.unit-open{background:url("imgs/tree-device.png?6") no-repeat -25px center;}

.oui-tree-device-line li .item span.unit-open,
.oui-tree-device-line:hover li .item span.unit-open,
.oui-tree-device-line-hover:hover li .item span.unit-open{
	background:url("imgs/tree-device.png?6") no-repeat -50px center;
}
.oui-tree-device-line-hover li .item span.unit-open{
	background:url("imgs/tree-device.png?6") no-repeat -25px center;
}
.oui-tree-device-line li .item .item-body span.unit-open{
	background:url("imgs/tree-device.png?6") no-repeat -26px center;
}

.oui-tree li .item span.device,
.oui-tree li .item span.device-on,
.oui-tree-device li .item span.device,
.oui-tree-device li .item span.device-on{background:url("imgs/tree-device.png?6") no-repeat -76px center;}

.oui-tree li .item span.device-open,
.oui-tree li .item span.device-on-open,
.oui-tree-device li .item span.device-open,
.oui-tree-device li .item span.device-on-open{background:url("imgs/tree-device.png?6") no-repeat -100px center;}

.oui-tree-device-line li .item span.device-on-open,
.oui-tree-device-line:hover li .item span.device-on-open,
.oui-tree-device-line:hover li .item span.device-on-open{background:url("imgs/tree-device.png?6") no-repeat -125px center;}
.oui-tree-device-line li .item .item-body span.device-on-open{background:url("imgs/tree-device.png?6") no-repeat -101px center;}

.oui-tree-device-line-hover li .item span.device-on-open{background:url("imgs/tree-device.png?6") no-repeat -100px center;}

.oui-tree li .item span.device-off,
.oui-tree-device li .item span.device-off{background:url("imgs/tree-device.png?6") no-repeat -151px center;}

.oui-tree li .item span.device-off-open,
.oui-tree-device li .item span.device-off-open{background:url("imgs/tree-device.png?6") no-repeat -175px center;}
.oui-tree-device-line li .item span.device-off-open,
.oui-tree-device-line:hover li .item span.device-off-open{background:url("imgs/tree-device.png?6") no-repeat -200px center;}
.oui-tree-device-line li .item .item-body span.device-off-open{background:url("imgs/tree-device.png?6") no-repeat -176px center;}

.oui-tree-device-line-hover li .item span.device-off-open{background:url("imgs/tree-device.png?6") no-repeat -175px center;}

.oui-tree li .item span.camera,
.oui-tree li .item span.camera-on,
.oui-tree li .item span.camera-open,
.oui-tree li .item span.camera-on-open,
.oui-tree-device li .item span.camera,
.oui-tree-device li .item span.camera-on,
.oui-tree-device li .item span.camera-open,
.oui-tree-device li .item span.camera-on-open{background:url("imgs/tree-device.png?6") no-repeat -225px center;}

.oui-tree li .item span.camera-off,
.oui-tree li .item span.camera-off-open,
.oui-tree-device li .item span.camera-off,
.oui-tree-device li .item span.camera-off-open{background:url("imgs/tree-device.png?6") no-repeat -250px center;}

.oui-tree li .item span.camera-play,
.oui-tree li .item span.camera-play-open,
.oui-tree-device li .item span.camera-play,
.oui-tree-device li .item span.camera-play-open{background:url("imgs/tree-device.png?6") no-repeat -275px center;}


.oui-tree li .item span.preset,
.oui-tree li .item span.preset-on,
.oui-tree li .item span.preset-open,
.oui-tree li .item span.preset-off,
.oui-tree-device li .item span.preset,
.oui-tree-device li .item span.preset-on,
.oui-tree-device li .item span.preset-open,
.oui-tree-device li .item span.preset-off{background:url("imgs/tree-device-other.png?1") no-repeat 0 center;}

.oui-tree li .item span.helmet,
.oui-tree li .item span.helmet-on,
.oui-tree-device li .item span.helmet,
.oui-tree-device li .item span.helmet-on{background:url("imgs/tree-device-other.png?1") no-repeat -25px center;}

.oui-tree li .item span.helmet-off,
.oui-tree-device li .item span.helmet-off{background:url("imgs/tree-device-other.png?1") no-repeat -50px center;}

/*用于搜索列表*/
.oui-tree-box .search-result-panel li span.unit{background:url("imgs/tree-device.png?6") no-repeat 0 center;}
.oui-tree-box .search-result-panel li span.device{background:url("imgs/tree-device.png?6") no-repeat -75px center;}
.oui-tree-box .search-result-panel li span.camera{background:url("imgs/tree-device.png?6") no-repeat -225px center;}
.oui-tree-box .search-result-panel li span.preset-off{background:url("imgs/tree-device-other.png?6") no-repeat 0 center;}