.oui-tabs-green {
    border-bottom: solid 1px #6ebd4d;
}

.oui-tabs-green .tab-box {}

.oui-tabs-green .tab-switch {
    background: #6ebd4d;
}

.oui-tabs-green .tab-switch-left {
    border-top: solid 1px #6ebd4d;
    border-bottom: solid 1px #6ebd4d;
    border-right: solid 1px #6ebd4d;
}

.oui-tabs-green .tab-switch-right {
    border-top: solid 1px #6ebd4d;
    border-bottom: solid 1px #6ebd4d;
    border-left: solid 1px #6ebd4d;
}

.oui-tabs-green .tab-switch .arrow {}

.oui-tabs-green .tab-switch .arrow-left {
    border-right-color: #fff;
}

.oui-tabs-green .tab-switch .arrow-right {
    border-left-color: #fff;
}

.oui-tabs-green .tab-switch:hover .arrow-left {
    border-right-color: #333;
}

.oui-tabs-green .tab-switch:hover .arrow-right {
    border-left-color: #333;
}

.oui-tabs-green .tab-container {}

.oui-tabs-green ul, .oui-tabs-green li {}

.oui-tabs-green .tab-item {
    background: #6ebd4d;
    border: solid 1px #6ebd4d;
    border-bottom: solid 1px #6ebd4d;
}

.oui-tabs-green .cur,.oui-tabs-green .tab-item:hover {
    background: #fff;
    border: solid 1px #6ebd4d;
    border-bottom: solid 1px #fff;
}

.oui-tabs-green .cur {
    background: #fff;
    border-bottom: solid 1px #fff;
}

.oui-tabs-green .last {}

.oui-tabs-green .tab-item .tab-txt {
    color: #fff;
}

.oui-tabs-green .cur .tab-txt {}

.oui-tabs-green .tab-item .tab-close {
    color: #fff;
}

.oui-tabs-green .tab-item:hover .tab-txt,.oui-tabs-green .cur .tab-txt,
.oui-tabs-green .cur .tab-close,.oui-tabs-green .tab-item:hover .tab-close {
    color: #333;
}

.oui-tabs-green .tab-item .tab-close:hover{
    background: #6ebd4d;
	color: #fff;
}