.oui-frozen {
    box-sizing: border-box;
}

.oui-frozen-box {
    position: absolute;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 999999;
    border: none 0;
    background: #fff;
}

.oui-frozen-table {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}