.oui-frozen {
    box-sizing: border-box;
}

.oui-frozen-box {
    position: absolute;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 100;
    border: none 0;
    background: #fff;
}

.oui-frozen-table {
    box-sizing: border-box;
    border-collapse: collapse;
    /* bootstrap */
    max-width: none;
}