.oui-tabs-blue {
    border-bottom: solid 1px #2ba1e1;
}

.oui-tabs-blue .tab-box {}

.oui-tabs-blue .tab-switch {
    background: #2ba1e1;
}

.oui-tabs-blue .tab-switch-left {
    border-top: solid 1px #2ba1e1;
    border-bottom: solid 1px #2ba1e1;
    border-right: solid 1px #2ba1e1;
}

.oui-tabs-blue .tab-switch-right {
    border-top: solid 1px #2ba1e1;
    border-bottom: solid 1px #2ba1e1;
    border-left: solid 1px #2ba1e1;
}

.oui-tabs-blue .tab-switch .arrow {}

.oui-tabs-blue .tab-switch .arrow-left {
    border-right-color: #fff;
}

.oui-tabs-blue .tab-switch .arrow-right {
    border-left-color: #fff;
}

.oui-tabs-blue .tab-switch .arrow-left:hover {
    border-right-color: #333;
}

.oui-tabs-blue .tab-switch .arrow-right:hover {
    border-left-color: #333;
}

.oui-tabs-blue .tab-container {}

.oui-tabs-blue ul, .oui-tabs-blue li {}

.oui-tabs-blue .tab-item {
    background: #2ba1e1;
    border: solid 1px #2ba1e1;
	border-bottom: solid 1px #2ba1e1;
}

.oui-tabs-blue .cur,.oui-tabs-blue .tab-item:hover {
    background: #fff;
    border: solid 1px #2ba1e1;
    border-bottom: solid 1px #fff;
}

.oui-tabs-blue .cur {
    background: #fff;
    border-bottom: solid 1px #fff;
}

.oui-tabs-blue .last {}

.oui-tabs-blue .tab-item .tab-txt {
    color: #fff;
}

.oui-tabs-blue .cur .tab-txt {}

.oui-tabs-blue .tab-item .tab-close {
	color: #fff;
}

.oui-tabs-blue .tab-item:hover .tab-txt,.oui-tabs-blue .cur .tab-txt,
.oui-tabs-blue .cur .tab-close,.oui-tabs-blue .tab-item:hover .tab-close {
    color: #333;
}

.oui-tabs-blue .tab-item .tab-close:hover{
    background: #2ba1e1;
	color: #fff;
}