.oui-dialog-gray {
    border: solid 1px #808080;
    background: #808080;
}

.oui-dialog-gray .dialog-head{
    background: #808080;
}

.oui-dialog-gray .dialog-head .dialog-title {
    color: #f5f5f5;
}

.oui-dialog-gray .dialog-head .dialog-btn {
    border: none;
}

.oui-dialog-gray .dialog-head .dialog-btn:hover {
    background-color: #f8f8f8;
}

.oui-dialog-gray .dialog-body .dialog-icon {
    border: none 0;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 3px; top: 3px;
    display: block;
}

.oui-dialog-gray .dialog-foot .button-panel {
    border: none 0;
    box-sizing: border-box;
    /*border-top: solid 1px #ddd;*/
    text-align: right;
    margin: 6px 6px 5px;
    padding: 0;
}
