.oui-ddl,.oui-ddl-elem {
	outline: none;
	min-width: 40px;
	box-sizing: border-box;
	/*border-radius: 5px;*/
}

.oui-ddl:focus,.oui-ddl-elem:focus {
	outline:none;
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.oui-ddl-cur {
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.oui-ddl-cur-top,.oui-ddl-cur-top:focus {
	border-top-color: #eee;
}
.oui-ddl-cur-bottom,.oui-ddl-cur-bottom:focus {
	border-bottom-color: #eee;
}

.oui-ddl-txt {
	border: solid 1px #ddd;
	line-height: 28px;
	margin: 0;
	cursor: default;
	box-sizing: border-box;
	background:#fff url('ddl_arrow_down.png?12') no-repeat right center;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -ms-user-select: none;
    outline: none;
}

.oui-ddl-panel {
	position:absolute;
	z-index: 999999;
	display:block;
	overflow:hidden;
	border:solid 1px #66afe9;
    /*box-shadow: 1px 1px 3px 0 rgba(100,100,100,0.32);*/
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	min-width: 40px;
	max-width:500px;
	min-height: 30px;
	background:#fff;
	border-radius: 5px;
	/*border-top-left-radius: 0px;
	border-top-right-radius: 0px;*/
	opacity: 1;
}

.oui-ddl-bottom {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-color: #fff;
}

.oui-ddl-top {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.oui-ddl-panel-bottom {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-top: -1px;
}
.oui-ddl-panel-bottom-left {
	border-top-left-radius: 0px;
	border-top-right-radius: 5px;
	margin-top: -1px;
}
.oui-ddl-panel-bottom-right {
	border-top-left-radius: 5px;
	border-top-right-radius: 0px;
	margin-top: -1px;
}
.oui-ddl-panel-top {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-top: 1px;
	box-shadow: inset 1px 0 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	-webkit-box-shadow: inset 1px 0 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.oui-ddl-panel-top-left {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 5px;
}
.oui-ddl-panel-top-right {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 0px;
}

.oui-ddl-panel li.oui-ddl-item, .oui-ddl-panel li.cur {
	display: block;
	margin: 0 1px 0 1px;
	padding: 0;
	overflow: hidden;
	height: 30px;
	border: none 0;
}

.oui-ddl-panel li.oui-ddl-item span.oui-ddl-item-space {
	border: none 0;
	box-sizing: border-box;
	cursor: default;
	margin: 0;
	padding: 0;
	outline: none;
	overflow: hidden;
	background: transparent;
	display: block;
	float: left;
	height: 30px;
	width: 20px;
}
.oui-ddl-panel li.oui-ddl-item span.oui-ddl-item-space:hover {
	border: none;
	background: transparent;
}

.oui-ddl-panel li.oui-ddl-sep {
	border: none;
	padding: 0;
	margin: 5px 1px;
	background: #e5e5e5;
	height: 1px;
	line-height: 1px;
	overflow: hidden;
}
.oui-ddl-panel li.oui-ddl-head {
	color: #777;
	padding: 0 10px;
	margin: 0 1px;
	font-size: 12px;
	height: 26px;
    line-height: 26px;
    white-space: nowrap;
}
label.oui-ddl-label {
    font-size: 14px;
    height: 30px;;
    line-height: 30px;
    padding: 0 9px;
    margin: 0;
    display: block;
    box-sizing: border-box;
    border: none 0;
    font-weight: normal;
}
label.oui-ddl-label span {
	margin: 0 0 0 0;
	float: none;
	line-height: 30px;
	overflow: hidden;
}

label.oui-ddl-label i {
	font-style:normal;color:#ccc;display:inline-block;text-align:right;
    border:none;margin:0 5px 0 0;padding:0;font-size:14px;
    float: left;
}

label.oui-ddl-label .del, label.oui-ddl-label .del span {
    text-decoration:line-through;
}
label.oui-ddl-label u{
	text-decoration: none;
	color: #999;
	font-size: 14px;
	margin: 0 4px;
	padding: 0;
	border: none 0;
	background: none;
}

label.oui-ddl-label .i-t {
    color: #999;
    margin: 0 0 0 8px;
    padding: 0;
    font-size: 14px;
    border: none;
    background: none;
	float: none;
}

label.oui-ddl-label-border {
    border: solid 1px #f1f1f1;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 0 5px 0;
    line-height: 28px;
}
label.oui-ddl-label-border:hover {
    border: solid 1px #f1f1f1;
}

input.oui-ddl-chb {
	float: left;
	display: inline-block;
    border: solid 1px #ddd;
    min-width: 14px;
    width: 14px;
    height: 14px;
    margin: 8px 5px 0 0;
}
label.oui-ddl-label-border input.oui-ddl-chb {
    margin: 7px 5px 0 2px;
}
ul.oui-ddl-box {
	display: block;
	margin: 0;
	padding: 1px 0;
	overflow: auto;
	clear: both;
	border: none;
	box-sizing: border-box;
}
ul.oui-ddl-flow,ul.oui-ddl-grid {
	padding: 4px 3px 3px;
}

ul.oui-ddl-box li.cur label.oui-ddl-label {
	background: #dfe8f6;
	color: #000;
}
ul.oui-ddl-box li.oui-ddl-item:hover label.oui-ddl-label {
	background: #f5f5f5;
	color: #000;
}

ul.oui-ddl-flow li.oui-ddl-item, ul.oui-ddl-grid li.oui-ddl-item {
	float:left;
	border: none 0;
	height: 35px;
	margin: 0;
	padding: 0;
}
ul.oui-ddl-flow label.oui-ddl-label,ul.oui-ddl-grid label.oui-ddl-label {
	padding: 0 5px;
	margin: 2px 3px 2px 2px;
}
ul.oui-ddl-flow li.cur label.oui-ddl-label,ul.oui-ddl-grid li.cur label.oui-ddl-label {
	background: #dfe8f6;
	border: none 0;
}
ul.oui-ddl-flow li.cur label.oui-ddl-label-border,ul.oui-ddl-grid li.cur label.oui-ddl-label-border {
	background: #dfe8f6;
	border: solid 1px #dfe8f6;
}
ul.oui-ddl-flow li.cur:hover label.oui-ddl-label-border,ul.oui-ddl-grid li.cur:hover label.oui-ddl-label-border {
	background: #f5f5f5;
	border: solid 1px #dfe8f6;
}

ul.oui-ddl-flow label.oui-ddl-hover,ul.oui-ddl-grid label.oui-ddl-hover {
	background: #f5f5f5;
	color: #000;
}

ul.oui-ddl-flow li.cur label.oui-ddl-label:hover,ul.oui-ddl-grid li.cur label.oui-ddl-label:hover {
	background: #f5f5f5;
	color: #000;
}
ul.oui-ddl-list li.cur label.oui-ddl-label {
	border-bottom: solid 1px #fafafa;
}
ul.oui-ddl-list label.oui-ddl-label {
	/*border-bottom: solid 1px #fafafa;*/
}
ul.oui-ddl-list label.oui-ddl-label:hover {
	/*border-bottom: solid 1px #dfe8f6;*/
}
li.oui-ddl-tree-item label.oui-ddl-label {
	border-bottom: solid 1px #fcfcfc;
}
li.oui-ddl-tree-item li.cur label.oui-ddl-label {
	border-bottom: solid 1px #fafafa;
}
li.oui-ddl-tree-item label.oui-ddl-label:hover {
	/*border-bottom: dotted 1px #dfe8f6;*/
}
li.oui-ddl-tree-item:last-child label.oui-ddl-label {
	border-bottom: none;
}
li.oui-ddl-item-disabled {
	cursor: not-allowed;
}

li.oui-ddl-item-disabled label.oui-ddl-label {
	cursor: not-allowed;
	color: #999;
}

.oui-ddl-panel .oui-ddl-oper {
	border: none;
	border-top: solid 1px #eee;
	border: none;
	box-sizing: border-box;
	margin: 1px 1px 0;
	/*padding: 5px 5px 7px;*/
	padding: 1px 4px 6px;
	clear: both;
	display: block;
	overflow: hidden;
	text-align: center;
}
.oui-ddl-panel .oui-ddl-oper-list {
	padding-top:4px;
}
.oui-ddl-panel .oui-ddl-oper .btn-group {
	padding: 0 0px;
	border: none 0;
}
.oui-ddl-panel .oui-ddl-oper-flow .btn-group {
	padding: 0;
}
.oui-ddl-panel .oui-ddl-oper-grid .btn-group {
	padding: 0;
}
.oui-ddl-panel .oui-ddl-oper .btn-group-block {
	padding: 0 0px;
	display: block;
}
.oui-ddl-panel .btn {
	border:solid 1px #ccc;
	box-sizing: border-box;
	height: 30px;
	line-height: 20px;
	padding: 3px 6px;
	margin: 0;
	font-size: 14px;
	font-family: Arial,宋体;
  	border-radius: 5px;
  	cursor: pointer;
}
.oui-ddl-panel .btn em {
	margin:0 0 0 3px;
	padding: 0;
	font-style: normal;
}
.oui-ddl-panel .btn u {

}
.oui-ddl-panel .btn:hover {
	background: #e6e6e6;
	border: solid 1px #adadad;
}

.oui-ddl-panel .btn-group .btn-primary {
	border: solid 1px #2e6da4;
	background: #337ab7;
	/*border-radius: 5px;*/
	box-sizing: border-box;

}

.oui-ddl-panel .btn-group .btn-primary:hover {
	background: #286090;
	border: solid 1px #204d74;
}
.oui-ddl-panel .btn-no {
	padding: 0 10px;
	margin-right: 2px;
}
.oui-ddl-panel .btn-ok {
	padding: 0 15px;
	margin-right: 2px;
}
.oui-ddl-panel .btn-group .btn-first {
	margin-left: 2px;
}
.oui-ddl-panel .btn-group-block .btn-ok,.oui-ddl-panel .btn-group-block .btn-block {
	width: 100%;
	border-radius: 5px;
}

.oui-ddl-panel .oui-ddl-switch {
	position: absolute;
	border: none 0;
	margin: 0;
	padding: 0;
	background: transparent;
	box-sizing: border-box;
	width: 100%;
	height: 5px;
	max-height: 5px;
	line-height: 5px;
	display: block;
	overflow: hidden;
	cursor: n-resize;
	z-index: 9999999;
}

.oui-ddl-panel .oui-ddl-switch-top {
	top: 0;
}

.oui-ddl-panel .oui-ddl-switch-bottom {
	bottom: 0;
}

/* 以下代码参考引用 bootstrap3.3.7 */
.oui-ddl-panel .btn-group {
  	position: relative;
  	display: inline-block;
  	vertical-align: middle;
}
.oui-ddl-panel .btn-group > .btn {
  	position: relative;
  	float: left;
}
.oui-ddl-panel .btn-group > .btn:hover,
.oui-ddl-panel .btn-group > .btn:focus,
.oui-ddl-panel .btn-group > .btn:active,
.oui-ddl-panel .btn-group > .btn.active {
  	z-index: 2;
}
.oui-ddl-panel .btn-group .btn + .btn,
.oui-ddl-panel .btn-group .btn + .btn-group,
.oui-ddl-panel .btn-group .btn-group + .btn,
.oui-ddl-panel .btn-group .btn-group + .btn-group {
  	margin-left: -1px;
}

.oui-ddl-panel .btn-group > .btn:not(:first-child):not(:last-child) {
  	border-radius: 0;
}
.oui-ddl-panel .btn-group > .btn:first-child {
  	margin-left: 0;
}
.oui-ddl-panel .btn-group > .btn:first-child:not(:last-child) {
  	border-top-right-radius: 0;
  	border-bottom-right-radius: 0;
}
.oui-ddl-panel .btn-group > .btn:last-child:not(:first-child) {
  	border-top-left-radius: 0;
  	border-bottom-left-radius: 0;
}
.oui-ddl-panel .btn-group > .btn-group {
  	float: left;
}
.oui-ddl-panel .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  	border-radius: 0;
}
.oui-ddl-panel .btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child{
  	border-top-right-radius: 0;
  	border-bottom-right-radius: 0;
}
.oui-ddl-panel .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  	border-top-left-radius: 0;
  	border-bottom-left-radius: 0;
}


.oui-ddl-edit {
	width: 100%;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.oui-ddl-edit .oui-ddl-form {
	border-top: solid 1px #f1f1f1;
	margin: 0 1px;
	padding: 0;
	display: block;
	overflow: hidden;
	position: relative;
	height: 42px;
}

.oui-ddl-edit .oui-ddl-val {
	float: left;
	min-width: 30px;

	height: 30px;
	margin: 0 -1px 0 0;
	padding: 0 5px;
	box-sizing: border-box;
	border: solid 1px #ccc;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	position: absolute;
	top: 6px;
	left: 5px;

}
.oui-ddl-edit .oui-ddl-val-err {
	border-color: #f90;
	color: #f00;
}
.oui-ddl-edit .oui-ddl-val:focus {
	outline:none;
	color: #000;
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.oui-ddl-edit .btn {
	outline:none;
	min-width: 50px;
	max-width: 100px;
	height: 30px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	top: 6px;
	right: 5px;
	position: absolute;
}