.oui-dialog-sg {
    border: solid 1px #00706b;
    background: #00706b;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.32);
    box-shadow: 0 2px 3px 0 rgba(153,187,232,.32);
}

.oui-dialog-sg .dialog-head{
    background: #00706b;
}

.oui-dialog-sg .dialog-head .dialog-title {
    color: #f5f5f5;
}

.oui-dialog-sg .dialog-head .dialog-btn {
    border: none;
}

.oui-dialog-sg .btn-primary {
    color: #fff;
    background-color: #00706b;
    border-color: #4cae4c;
}

.oui-dialog-sg .btn-primary:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}