.oui-pagination{font-size:12px;

    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.oui-pagination ul,.oui-pagination li{margin:0; padding:0; list-style: normal;}
.oui-pagination li{display: inline-table; font-family: Arial;}
.oui-pagination a{
    text-decoration: none; padding:2px 7px; margin:0 3px; 
    font-family: Arial; border-radius:4px;
}
.oui-pagination a.link{border:solid 1px #005eac;}
.oui-pagination a.cur{border:solid 1px #f00; color:#f00;}
.oui-pagination a.text{border:solid 1px #999; color:#999;}

.oui-pagination input.text{width:50px;text-align:center; bordre:solid 1px #ccc; border-radius:4px;}
.oui-pagination input.group{width:50px;text-align:center;}
.oui-pagination button.btn{text-align:center;}
.oui-pagination button.group{text-align:center;}

.oui-pagination .stat{float:right;}