.oui-pagination{
    display: block;
    font-size:14px;
    font-family: Arial;
    overflow: hidden;
    border: solid 1px #ccc;
    color: #333;
    margin:0;
    padding:2px 5px;

    /*禁止选中内容*/
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.oui-pagination .left, .oui-pagination .label{
    float: left;
}

.oui-pagination .right{
    float: right;
}

.oui-pagination ul,.oui-pagination li{
    margin: 0; padding: 0; float: left; list-style: normal; display: inline-table;
}

.oui-pagination a,.oui-pagination input,.oui-pagination button,.oui-pagination select{
    margin: 0; padding: 0; float: left; height: 22px; font-size: 14px; font-weight: normal; text-align: center; 
    border-radius: 4px; box-sizing: border-box; background-image: none; background-color: transparent;    
    border: 1px solid #ccc; color: #333; white-space: nowrap; vertical-align: middle; display: inline-block;
}

.oui-pagination a{
    box-sizing: content-box; cursor: pointer; height: 20px; line-height: 20px;   
}

.oui-pagination button{
    cursor: pointer;
}

.oui-pagination span{
    margin: 0; padding: 0;
}

.oui-pagination .list{}

.oui-pagination .stat{
    line-height: 22px;
}

.oui-pagination .label{
    float:left; padding: 0 2px; line-height: 22px;
}

.oui-pagination a{
    text-decoration: none; 
    padding:0 7px;
    margin:0 2px 0;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*链接文字颜色默认为蓝色*/
.oui-pagination a.link{ 
    border: solid 1px #005eac;
}

.oui-pagination a.link:hover{
    color: #fff; background: #005eac;
}

.oui-pagination a.cur{
    color: #fff; background: #005eac; font-weight: bold;
}

/*非链接文字默认颜色为灰色*/
.oui-pagination a.text{
    border: solid 1px #ccc; color: #999; cursor: default;
}

.oui-pagination input.text{
    width: 50px;
    padding: 0 3px;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.oui-pagination input.group{
    border-top-right-radius: 0; border-bottom-right-radius: 0;
}

.oui-pagination button.btn{
    padding:0 3px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.oui-pagination button.group{
    border-top-left-radius: 0; border-bottom-left-radius: 0;
}


.oui-pagination .select{
    padding: 1px 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*以下为定制样式 blue,red,green,black等，调用时指定参数中的 skin 为相应的样式名称*/

.oui-pagination .blue{ }
.oui-pagination .black a.link{ border: solid 1px #005eac; color: #000; }
.oui-pagination .black a.link: hover{ border: solid 1px #005eac; color: #fff; background: #005eac; }
.oui-pagination .black a.cur{ border: solid 1px #005eac; color: #fff; background: #005eac; }

.oui-pagination .red{ }
.oui-pagination .red a.link{ border: solid 1px #f00; color: #000; }
.oui-pagination .red a.link: hover{ border: solid 1px #f00; color: #fff; background: #f00; }
.oui-pagination .red a.cur{ border: solid 1px #f00; color: #fff; background: #f00; }

.oui-pagination .orange{ }
.oui-pagination .orange a.link{ border: solid 1px #f50; color: #000; }
.oui-pagination .orange a.link: hover{ border: solid 1px #f00; color: #fff; background: #f50; }
.oui-pagination .orange a.cur{ border: solid 1px #f50; color: #fff; background: #f50; }

.oui-pagination .green{ }
.oui-pagination .green a.link{ border: solid 1px #008000; color: #000; }
.oui-pagination .green a.link: hover{ border: solid 1px #008000; color: #fff; background: #008000; }
.oui-pagination .green a.cur{ border: solid 1px #008000; color: #fff; background: #008000; }

.oui-pagination .black{ }
.oui-pagination .black a.link{ border: solid 1px #000; color: #000; }
.oui-pagination .black a.link: hover{ border: solid 1px #000; color: #fff; background: #000; }
.oui-pagination .black a.cur{ border: solid 1px #000; color: #fff; background: #000; }

