.oui-dialog-blue {
    border: solid 1px #96c2f1;
    background: #eff7ff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.32);
    box-shadow: 0 2px 3px 0 rgba(153,187,232,.32);
}

.oui-dialog-blue .dialog-head{
    background: #cae3ff;
    border-bottom: solid 1px #add0fa;
}

.oui-dialog-blue .dialog-head .dialog-title {
    color: #333;
}

.oui-dialog-blue .dialog-head .dialog-btn {
    border: none;
}

.oui-dialog-blue .dialog-head .dialog-btn:hover {
    border: none 0;
}
.oui-dialog-blue .dialog-head .btn-reload:hover {
    background-color: #fff;
}