.oui-tabs-orange {
    border-bottom: solid 1px #ff9d4a;
}

.oui-tabs-orange .tab-box {}

.oui-tabs-orange .tab-switch {
    background: #ff9d4a;
}

.oui-tabs-orange .tab-switch-left {
    border-top: solid 1px #ff9d4a;
    border-bottom: solid 1px #ff9d4a;
    border-right: solid 1px #ff9d4a;
}

.oui-tabs-orange .tab-switch-right {
    border-top: solid 1px #ff9d4a;
    border-bottom: solid 1px #ff9d4a;
    border-left: solid 1px #ff9d4a;
}

.oui-tabs-orange .tab-switch .arrow {}

.oui-tabs-orange .tab-switch .arrow-left {
    border-right-color: #fff;
}

.oui-tabs-orange .tab-switch .arrow-right {
    border-left-color: #fff;
}

.oui-tabs-orange .tab-switch:hover .arrow-left {
    border-right-color: #333;
}

.oui-tabs-orange .tab-switch:hover .arrow-right {
    border-left-color: #333;
}

.oui-tabs-orange .tab-container {}

.oui-tabs-orange ul, .oui-tabs-orange li {}

.oui-tabs-orange .tab-item {
    background: #ff9d4a;
    border: solid 1px #ff9d4a;
	border-bottom: solid 1px #ff9d4a;
}

.oui-tabs-orange .cur,.oui-tabs-orange .tab-item:hover {
    background: #fff;
    border: solid 1px #ff9d4a;
    border-bottom: solid 1px #fff;
}

.oui-tabs-orange .cur {
    background: #fff;
    border-bottom: solid 1px #fff;
}

.oui-tabs-orange .last {}

.oui-tabs-orange .tab-item .tab-txt {
    color: #fff;
}

.oui-tabs-orange .cur .tab-txt {}

.oui-tabs-orange .tab-item .tab-close {
    color: #fff;
}

.oui-tabs-orange .tab-item:hover .tab-txt,.oui-tabs-orange .cur .tab-txt,
.oui-tabs-orange .cur .tab-close,.oui-tabs-orange .tab-item:hover .tab-close {
    color: #333;
}

.oui-tabs-orange .tab-item .tab-close:hover {
    background: #ff9d4a;
	color: #fff;
}