.oui-tabs-bluegray {
    border-bottom: solid 1px #96c2f1;
}

.oui-tabs-bluegray .tab-box {}

.oui-tabs-sep {
    border-bottom: none;
}

.oui-tabs-bluegray .tab-sep {
    border-color: #96c2f1;
}

.oui-tabs-bluegray .tab-switch {
    background: #eff7ff;
}

.oui-tabs-bluegray .tab-switch-left {
    border: solid 1px #96c2f1;
    border-left: none;
}

.oui-tabs-bluegray .tab-switch-right {
    border: solid 1px #96c2f1;
    border-right: none;
}

.oui-tabs-bluegray .tab-switch .arrow {}

.oui-tabs-bluegray .tab-switch .arrow-left {
    border-right-color: #999;
}

.oui-tabs-bluegray .tab-switch .arrow-right{
    border-left-color: #999;
}

.oui-tabs-bluegray .tab-switch:hover .arrow-left {
    border-right-color: #333;
}

.oui-tabs-bluegray .tab-switch:hover .arrow-right {
    border-left-color: #333;
}

.oui-tabs-bluegray .tab-container {}

.oui-tabs-bluegray ul, .oui-tabs-bluegray li {}

.oui-tabs-bluegray .tab-item {
    /*background: #e8f5fe;*/
    background: #eff7ff;
    border: solid 1px #96c2f1;
    border-bottom: solid 1px #96c2f1;
}

.oui-tabs-bluegray .cur,.oui-tabs-bluegray .tab-item:hover {
    background: #fff;
    border: solid 1px #96c2f1;
    border-bottom: solid 1px #fff;
}

.oui-tabs-bluegray .cur {
    background: #fff;
    border-bottom: solid 1px #fff;
}

.oui-tabs-bluegray .last {}

.oui-tabs-bluegray .tab-item .tab-txt {
    color: #333;
}

.oui-tabs-bluegray .cur .tab-txt {}

.oui-tabs-bluegray .tab-item .tab-close {
	color: #333;
}

.oui-tabs-bluegray .tab-item:hover .tab-txt,.oui-tabs-bluegray .cur .tab-txt,
.oui-tabs-bluegray .cur .tab-close,.oui-tabs-bluegray .tab-item:hover .tab-close {
    color: #333;
}

.oui-tabs-bluegray .tab-item .tab-close:hover{
    background: #eff7ff;
	color: #333;
}