.oui-dialog-red {
    border: solid 1px #f00;
    background: #f00;
}

.oui-dialog-red .dialog-head{
    background: #f00;
}

.oui-dialog-red .dialog-head .dialog-title {
    color: #f5f5f5;
}

.oui-dialog-red .dialog-head .dialog-btn {
    border: none;
}

.oui-dialog-red .dialog-body .dialog-icon {
    border: none 0;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 3px; top: 3px;
    display: block;
}

.oui-dialog-red .dialog-foot .button-panel {
    border: none 0;
    box-sizing: border-box;
    /*border-top: solid 1px #ddd;*/
    text-align: right;
    margin: 6px 6px 5px;
    padding: 0;
}

.oui-dialog-red .btn-primary {
    color: #fff;
    background-color: #f00;
    border-color: #f00;
}

.oui-dialog-red .btn-primary:hover {
    color: #fff;
    background-color: #f00;
    border-color: #f00;
}
