.oui-dialog-red {
    border: solid 1px #f00;
    background: #f00;
}

.oui-dialog-red .dialog-head{
    background: #f00;
}

.oui-dialog-red .dialog-head .dialog-title {
    color: #f5f5f5;
}

.oui-dialog-red .dialog-head .dialog-btn {
    border: none;
}

.oui-dialog-red .btn-primary {
    color: #fff;
    background-color: #f00;
    border-color: #f00;
}

.oui-dialog-red .btn-primary:hover {
    color: #fff;
    background-color: #f00;
    border-color: #f00;
}