.oui-dialog-orange {
    border: solid 1px #f90;
    background: #f90;
}

.oui-dialog-orange .dialog-head{
    background: #f90;
}

.oui-dialog-orange .dialog-head .dialog-title {
    color: #f5f5f5;
}

.oui-dialog-orange .dialog-head .dialog-btn {
    border: none;
}

.oui-dialog-orange .btn-primary {
    color: #fff;
    background-color: #f90;
    border-color: #f80;
}

.oui-dialog-orange .btn-primary:hover {
    color: #fff;
    background-color: #f50;
    border-color: #f80;
}