.oui-table{}

.oui-table tr.alternate{
    background: #f6f9fd;
}

.oui-table tr.selected, .oui-table td.selected, .oui-table tr:hover{
    background: #b3d4fc; cursor: default;
}
.oui-table tr.success, .oui-table td.success{
    background: #ddf4df; border: solid 1px #bae8b6;
}
.oui-table tr.danger, .oui-table td.danger{
    background: #ffe5e0; border: solid 1px #ffc6c7;
}
.oui-table tr.warning, .oui-table td.warning{
    background: #fff0d5; border: solid 1px #ffdcbc;
}
.oui-table tr.active, .oui-table td.active{
    background: #ffe7bc; border: solid 1px #ffdcbc;
}

.oui-table td.cell-line-number{
    text-align: center;
}
.oui-table td.cell-checkbox{
    text-align: center;
}

.oui-table a.quick-a{
    cursor: pointer; color: #999; border: none 0; border-radius: 2px; background: #fff; 
    font-size: 10px; line-height: 12px; width: 12px; height: 12px; padding:0 0; margin:3px 0 0 0; float: right;
}

.oui-table div.quick-menu{
    position: absolute; border:solid 1px #ddd; border-radius:4px; background:#fff;
    margin: -3px 0 0 20px; line-height: 1.8em; min-width: 80px;
    display: none; overflow: hidden;
}
.oui-table div.quick-menu a{
    display: block; padding: 0px 10px; margin: 0; font-size: 12px; border: none 0; background: none; text-align: left;
}
.oui-table div.quick-menu a:hover{
    background: #005eac; color: #fff;
}

.oui-table-tree{}

.oui-table-tree .expand{
    display:inline-block;
    width:0;
    height:0;
    padding:0;
    margin:0;
    border-left:5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    margin-right:2px;
}

.oui-table-tree .collapse{
    display:inline-block;
    width:0;
    height:0;
    padding:0;
    margin:0;
    border-top: 5px solid transparent;
    border-left: 6px solid #000;
    border-bottom: 5px solid transparent; 
    margin-right:6px;
}

.oui-table-tree .focuser{
    margin:0; padding:0; border:none 0;
}