.oui-leftmenu-bluegray {
    background: transparent;
    border-right: solid 1px #96c2f1;
}

.oui-leftmenu-bluegray .item {
    background: #eff7ff;
    border: solid 1px #96c2f1;
    border-right: solid 1px #96c2f1;
}
.oui-leftmenu-bluegray .cur, .oui-leftmenu-bluegray .item:hover {
    background: #fff;
    border: solid 1px #96c2f1;
    border-right: solid 1px #f5f5f5;
    border-right: solid 1px #fff;
}
.oui-leftmenu-bluegray .item a {
    color: #000;
}

.oui-rightmenu-bluegray {
    border: none;
    border-left: solid 1px #96c2f1;
}

.oui-rightmenu-bluegray .item {
    border: solid 1px #96c2f1;
    border-left: solid 1px #96c2f1;
}

.oui-rightmenu-bluegray .cur, .oui-rightmenu-bluegray .item:hover {
    background: #fff;
    border: solid 1px #96c2f1;
    border-left: solid 1px #f5f5f5;
    border-left: solid 1px #fff;
}