.oui-tabs-black {
    border-bottom: solid 1px #292929;
}

.oui-tabs-black .tab-box {}

.oui-tabs-sep {
    border-bottom: none;
}
.oui-tabs-black .tab-sep {
    border-color: #292929;
}

.oui-tabs-black .tab-switch {
    background: #292929;
}

.oui-tabs-black .tab-switch-left {
    border-top: solid 1px #292929;
    border-bottom: solid 1px #292929;
    border-right: solid 1px #292929;
}

.oui-tabs-black .tab-switch-right {
    border-top: solid 1px #292929;
    border-bottom: solid 1px #292929;
    border-left: solid 1px #292929;
}

.oui-tabs-black .tab-switch .arrow {}

.oui-tabs-black .tab-switch .arrow-left {
    border-right-color: #fff;
}

.oui-tabs-black .tab-switch .arrow-right {
    border-left-color: #fff;
}

.oui-tabs-black .tab-switch:hover .arrow-left {
    border-right-color: #eee;
}

.oui-tabs-black .tab-switch:hover .arrow-right {
    border-left-color: #eee;
}

.oui-tabs-black .tab-container {}

.oui-tabs-black ul, .oui-tabs-black li {}

.oui-tabs-black .tab-item {
    background: #292929;
    border: solid 1px #292929;
	border-bottom: solid 1px #292929;
}

.oui-tabs-black .cur,.oui-tabs-black .tab-item:hover {
    background: #fff;
    border: solid 1px #292929;
    border-bottom: solid 1px #fff;
}

.oui-tabs-black .cur {
    background: #fff;
    border-bottom: solid 1px #fff;
}

.oui-tabs-black .last {}

.oui-tabs-black .tab-item .tab-txt {
    color: #eee;
}

.oui-tabs-black .cur .tab-txt {}

.oui-tabs-black .tab-item .tab-close {
    color: #fff;
}

.oui-tabs-black .tab-item:hover .tab-txt,.oui-tabs-black .cur .tab-txt,
.oui-tabs-black .cur .tab-close,.oui-tabs-black .tab-item:hover .tab-close {
    color: #333;
}

.oui-tabs-black .tab-item .tab-close:hover {
    background: #292929;
	color: #fff;
}