
.oui-dialog-shade {
    width: 100%; height: 100%;
    position: fixed; top: 0; left: 0;
    margin: 0; padding: 0;
    background: #909090; opacity: 0.2;
    overflow: auto;
}

.oui-dialog-container {
    width: 100%; height: 100%;
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    margin: 0; padding: 0;
    background: transparent;
    opacity: 1;
    overflow: auto;
    text-align: center;
    border-top-left-radius: 0;
}

.oui-dialog {
    padding: 0px; 
    margin: 0px;
    /*width: auto; */
    position: absolute;
    border: solid 1px #ddd;
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.32);
    font-size: 14px;
	overflow: hidden;
    font-family: Arial,宋体,微软雅黑;
    line-height: 1.25em;
    cursor: default;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	outline: none;
}

.oui-dialog-max {
    width: 100%; height: 100%; 
    border-radius: 0px;
    box-sizing: border-box;
    top: 0; left: 0;
    /*border: none 0;*/
}

.oui-dialog-min {
    width: auto; 
    height: 32px; 
    min-width: 200px; 
    min-height: 32px; 
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
}

.oui-dialog .dialog-main {
    border: none 0;
    background: #fff;
    margin: 0px; padding: 0px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    /*border-radius: 4px;*/
    /*
    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
    -ms-user-select: none;
    */
	outline: none;
}

.oui-dialog .dialog-unselect, .oui-dialog .temp-unselect{
    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
    -ms-user-select: none; /*IE10*/
	
	touch-callout:none;
	-webkit-touch-callout:none;
	-ms-touch-callout:none;
	-moz-touch-callout:none;
}

.oui-dialog .dialog-head{
    padding:2px 2px 1px; margin:0;
    border: none 0;
    width: 100%;
    height: 32px;
    max-height: 50px;
    /*border-bottom: solid 1px #ddd;*/
    box-sizing: border-box;
    clear: both; 
    overflow: hidden;
    /*cursor: move;*/
    
    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
    -ms-user-select: none;

	touch-callout:none;
	-webkit-touch-callout:none;
	-ms-touch-callout:none;
	-moz-touch-callout:none;
}

.oui-dialog .dialog-head .dialog-title {
    margin: 0; 
    padding: 0;
    width: auto;
    height: 29px;
    line-height: 27px;
    text-indent: 6px;
    /*font-weight: bold;*/
    float: left;
    color: #333;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
	
    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
    -ms-user-select: none;

	touch-callout:none;
	-webkit-touch-callout:none;
	-ms-touch-callout:none;
	-moz-touch-callout:none;
}

.oui-dialog-title-size {
    display: block;
    position: absolute;
    /*
    left: 0;
    top: -1000px;
    */
    left: -5000px;
    top: -3000px;
    color: #fff;
    border: none 0;
    margin: 0;
    padding: 0;
    float: left;
    width: auto;
    height: 29px;
    line-height: 27px;
    font-size: 14px;
    text-align: left;
    text-indent: 6px;
}

.oui-dialog .dialog-head .dialog-logo {
    width: 20px; height: 20px;
    margin: 3px 3px 0 2px;
    padding: 0;
    /*border: solid 1px #f5f5f5;*/
    border: none 0;
    border-radius: 3px;
    box-sizing: content-box;
    float: left;
    background:transparent url('imgs/icon.png?202309111') no-repeat 0 0;
}

.oui-dialog .dialog-head .dialog-logo:hover {
    /*border: solid 1px #ddd;*/
    border: none 0;
}

.oui-dialog .dialog-head .dialog-timing {
    margin: 0; 
    padding: 5px 5px;
    font-size: 14px;
    line-height: 1.25em;
    color: #999;
    float: left;
    text-align: left;
    width: auto;
}

.oui-dialog .dialog-head .btn-panel {
    margin: 2px 2px 0 0;
    float: right;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.oui-dialog .dialog-head .dialog-btn {
    border: solid 1px #fff;
    border-radius: 3px;
    background-color: transparent;

    cursor: pointer;
    width: 20px; height: 20px;
    display: inline-block;
    margin: 0 0 0 5px; padding: 0;
    box-sizing: content-box;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.oui-dialog .dialog-head .dialog-btn:hover {
    background-color: #f8f8f8;
    border: solid 1px #ddd;
}

.oui-dialog .dialog-head .btn-min {
    background:transparent url('imgs/icon.png?202309111') no-repeat -20px 0;
}

.oui-dialog .dialog-head .btn-max {
    background:transparent url('imgs/icon.png?202309111') no-repeat -40px 0;
}

.oui-dialog .dialog-head .btn-normal {
    background:transparent url('imgs/icon.png?202309111') no-repeat -60px 0;
}

.oui-dialog .dialog-head .btn-close {
    background:transparent url('imgs/icon.png?202309111') no-repeat -80px 0;
}

.oui-dialog .dialog-head .btn-reload {
    background:transparent url('imgs/icon.png?202309111') no-repeat -320px 0;
}

.oui-dialog .dialog-head .left-reload {
	float: left; 
	margin: 3px 0 0 0;
}

.oui-dialog .dialog-body, .oui-dialog-max .dialog-body {
    position: relative;
    text-align: left;
    background: #fff;
    margin: 0;
	padding: 0;
    border: none 0; 
    /*
    border: solid 1px #eee;
    border-radius: 4px;
    */
    box-sizing: border-box;
    overflow: auto;

    /*
    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
    -ms-user-select: none;
    */
    /*margin-bottom: 40px;*/
}

.oui-dialog .dialog-body .btn-panel {
    margin: 2px 2px 0 0;
}

.oui-dialog .dialog-body .btn-close {
    border: solid 1px #f1f1f1;
    border-radius: 3px;
    background-color: #fff;

    cursor: pointer;
    width: 20px; height: 20px;
    display: inline-block;
    margin: 3px 2px 0 5px; padding: 0;
    box-sizing: content-box;

    background:transparent url('imgs/icon.png?202309111') no-repeat -80px 0;
}


.oui-dialog .dialog-body .close0 {
    border: none 0;
    background:transparent url('imgs/icon.png?202309111') no-repeat -80px 0;
}

.oui-dialog .dialog-body .close1 {
    border: none 0;
    background:transparent url('imgs/icon.png?202309111') no-repeat -100px 0;
}

.oui-dialog .dialog-body .close2 {
    border: none 0;
    background:transparent url('imgs/icon.png?202309111') no-repeat -120px 0;
}

.oui-dialog .dialog-body .close3 {
    border: none 0;
    background:transparent url('imgs/icon.png?202309111') no-repeat -140px 0;
}

.oui-dialog .dialog-body .dialog-content {
    border: none 0;
    padding: 6px 8px; margin: 0px;
    line-height: 24px;
    text-align: left;
    box-sizing: border-box;
    text-decoration: none;
}

.oui-dialog .dialog-body .icon-padding {
    padding-left: 45px;
}

.oui-dialog .dialog-body .dialog-icon {
    border: none 0;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 3px; top: 0px;
    display: block;
}

.oui-dialog .dialog-body .dialog-icon-none {
    border: none 0;
    display: none;
}

.oui-dialog .dialog-body .icon-warning {
    background: url('imgs/icon.png') no-repeat 0px -140px;
}

.oui-dialog .dialog-body .icon-error {
    background: url('imgs/icon.png') no-repeat -40px -140px;
}

.oui-dialog .dialog-body .icon-stop {
    background: url('imgs/icon.png') no-repeat -80px -140px;
}

.oui-dialog .dialog-body .icon-success {
    background: url('imgs/icon.png') no-repeat -120px -140px;
}

.oui-dialog .dialog-body .icon-question {
    background: url('imgs/icon.png') no-repeat -160px -140px;
}

.oui-dialog .dialog-body .icon-info {
    background: url('imgs/icon.png') no-repeat -200px -140px;
}

.oui-dialog .dialog-body .icon-cry {
    background: url('imgs/icon.png') no-repeat -240px -140px;
}

.oui-dialog .dialog-body .icon-smile {
    background: url('imgs/icon.png') no-repeat -280px -140px;
}

.oui-dialog .dialog-body .icon-loading {
    background: url('imgs/loading.gif') no-repeat center;
}

.oui-dialog .dialog-head .dialog-icon,.oui-dialog .dialog-head .dialog-icon:hover {
    border: none 0;
    width: 20px;
    height: 20px;
}

.oui-dialog .dialog-head .icon-warning {
    background: url('imgs/icon.png') no-repeat -160px 0;
}

.oui-dialog .dialog-head .icon-error {
    background: url('imgs/icon.png') no-repeat -180px 0;
}

.oui-dialog .dialog-head .icon-stop {
    background: url('imgs/icon.png') no-repeat -200px 0;
}

.oui-dialog .dialog-head .icon-success {
    background: url('imgs/icon.png') no-repeat -220px 0;
}

.oui-dialog .dialog-head .icon-question {
    background: url('imgs/icon.png') no-repeat -240px 0;
}

.oui-dialog .dialog-head .icon-info {
    background: url('imgs/icon.png') no-repeat -260px 0;
}

.oui-dialog .dialog-head .icon-cry {
    background: url('imgs/icon.png') no-repeat -280px 0;
}

.oui-dialog .dialog-head .icon-smile {
    background: url('imgs/icon.png') no-repeat -300px 0;
}

.oui-dialog .dialog-body .dialog-iframe {
    width: 100%; height: 100%;
    margin: 0px; padding: 0px;
    background: transparent;
    box-sizing: border-box;
}

.oui-dialog .dialog-body .iframe-shade {
    width: 100%; height: 100%;
    margin: 0px; padding: 0px;
    background: #fff;
    color: #666; 
    line-height: 2em; text-indent: 10px;
    opacity: 0.05; 
    filter: alpha(opacity=5);
    position: absolute; display: block;
    top: 0; left: 0; bottom: 0; right: 0;
}

.oui-dialog .dialog-body .dialog-loading {
    color: #666;
    border-radius: 3px;
    border: solid 1px #ddd;
    display: inline-block;
    margin: 5px 1px; 
    padding: 5px 5px 5px 35px;
    background:#fff url('imgs/loading.gif') no-repeat 2px 2px;
    line-height: 1.5em;
    position: absolute;
    top: 0; left: 0;
    float: left;
}

.oui-dialog .dialog-foot {
    position: absolute;
    left: 0; bottom: 0;
    border: none 0;
    /*border-top: solid 1px #00f;*/
    box-sizing: border-box;
    clear:both; overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 50px;

    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
    -ms-user-select: none;
}

.oui-dialog .dialog-foot .button-panel {
    border: none 0;
    box-sizing: border-box;
    /*border-top: solid 1px #ddd;*/
    text-align: right;
    margin: 6px 4px 4px;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.oui-dialog .dialog-btn {    
    margin: 0 0 0;
    color: #fff;
    background: #337ab7;
    border: solid 1px #2e6da4;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0 20px;
    height: 30px;
    font-size: 14px;
    line-height: 1.8em;
    line-height: 28px;
    text-decoration: none;
    display: inline-block;
    font-style: normal;
    font-family: inherit;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    border-style: solid;
    text-align: center;
	/*outline: none;*/
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.oui-dialog .dialog-foot .dialog-btn:focus {
    
}

.oui-dialog .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.oui-dialog .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.oui-dialog .btn-default {
    color: #333;
    background: #fff;
    border: solid 1px #ccc;
}

.oui-dialog .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.oui-dialog .btn-success {
    color: #fff;
    background: #5cb85c;
    border: solid 1px #4cae4c;
}

.oui-dialog .btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.oui-dialog .btn-warning {
    color: #fff;
    background: #f0ad4e;
    border: solid 1px #eea236;
}

.oui-dialog .btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.oui-dialog .btn-danger {
    color: #fff;
    background: #d9534f;
    border: solid 1px #d43f3a;
}

.oui-dialog .btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c9302c;
}

.oui-dialog .dialog-foot .btn-ml {
    margin-left: 8px;
}

.oui-dialog .dialog-foot .btn-mr {
    margin-right: 8px;
}

/*关于拖放开关*/

.oui-dialog .drag-switch {
    background: transparent;
    margin: 0; padding: 0; 
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
}

.oui-dialog .top-switch,.oui-dialog .bottom-switch {
    width: 100%; height: 5px;
    cursor: ns-resize;
}

.oui-dialog .left-switch,.oui-dialog .right-switch {
    width: 5px; height: 100%;
    cursor: ew-resize;
}

.oui-dialog .top-switch,.oui-dialog .left-switch{
    top: 0; left: 0;
}

.oui-dialog .bottom-switch,.oui-dialog .right-switch {
    bottom: 0; right: 0;
}

.oui-dialog .top-left-switch,.oui-dialog .top-right-switch,
.oui-dialog .bottom-left-switch,.oui-dialog .bottom-right-switch {
    width: 10px; height: 10px;
    border-radius: 3px;
    background: transparent;
    opacity: 0.05;
    margin: 0; padding: 0;
}

.oui-dialog .top-left-switch {
    top: 0; left: 0;
    cursor: se-resize;
}

.oui-dialog .top-right-switch {
    top: 0; right: 0;
    cursor: sw-resize;
}

.oui-dialog .bottom-left-switch {
    bottom: 0; left: 0;
    cursor: sw-resize;
}

.oui-dialog .bottom-right-switch {
    bottom: 0; right: 0;
    cursor: se-resize;
}

.oui-dialog .display-none {
    display: none;
}

.oui-dialog .cursor-move {    
    cursor: move;
}

.oui-dialog .no-select {
    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
    -ms-user-select: none;
}


.out-dialog .overflow-hidden {
    overflow: hidden;
}

.out-dialog .overflow-auto {
    overflow: auto;
}

.out-dialog .fixed {
    position: fixed;
}

.oui-dialog-pos {
    position: absolute;
    margin: 0;
}

.dialog-margin-center {
    margin-left: auto; margin-right: auto;
}

.dialog-margin-middle {
    margin-top: auto; margin-bottom: auto;
}

.oui-dialog .form {
    line-height: 30px;
}

.oui-dialog .form .table {

}

/*oui-tooltip*/
.oui-tooltip {
    position: absolute;
    border-radius: 3px;
    font-size: 14px;
    font-family: Arial,宋体,微软雅黑;
    margin: 0; 
    padding: 5px;
    line-height: 1.2em;
    /*
    border: 1px solid #f60;
    background-color: #fff;
    */
    border: solid 1px #ffb4a8;
    background: #fef2f2;
    box-sizing: content-box;
}

.oui-tooltip:after,.oui-tooltip:before{
    content: " ";
    position:absolute;
    width: 0;
    height: 0;
    left: 50%;
    border: solid transparent;
    border-width: 6px;
}

.oui-tooltip .dialog-content{
    /*white-space: nowrap;*/
    margin: 0; padding: 0;
    border: none;
    border-radius: 3px;
    display: block;
}

.oui-tooltip .dialog-content img{
    display: block;
    margin: 0; padding: 0;
    border: none 0;
}

.oui-tip-bottom:after{
    top: -12px;
    border-width: 6px;
    border-bottom-color: #fef2f2;
    margin-left: -6px;
}
.oui-tip-bottom:before{
    top: -14px;
    border-width: 7px;
    border-bottom-color: #ffb4a8;
    margin-left: -7px;
}

.oui-tip-top:after{
    bottom: -12px;
    border-width: 6px;
    border-top-color: #fef2f2;
    margin-left: -6px;
}
.oui-tip-top:before{
    bottom: -14px;
    border-width: 7px;
    border-top-color: #ffb4a8;
    margin-left: -7px;
}

.oui-tip-right:after{
    top: 50%;
    left: -12px;
    border-width: 6px;
    border-right-color: #fef2f2;
    margin-top: -6px;
}
.oui-tip-right:before{
    top: 50%;
    left: -14px;
    border-width: 7px;
    border-right-color: #ffb4a8;
    margin-top: -7px;
}

.oui-tip-left:after{
    left: 100%;
    top: 50%;
    border-width: 6px;
    border-left-color: #fef2f2;
    margin-top: -6px;
}
.oui-tip-left:before{
    top: 50%;
    left: 100%;
    right: -14px;
    border-width: 7px;
    border-left-color: #ffb4a8;
    margin-top: -7px;
}


/* 以下代码参考引用 bootstrap3.3.7 */
.oui-dialog .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.oui-dialog .btn-group > .btn {
    position: relative;
    float: left;
    border-radius: 4px;
}
.oui-dialog .btn-group > .btn:hover,
.oui-dialog .btn-group > .btn:focus,
.oui-dialog .btn-group > .btn:active,
.oui-dialog .btn-group > .btn.active {
    z-index: 2;
}
.oui-dialog .btn-group .btn + .btn,
.oui-dialog .btn-group .btn + .btn-group,
.oui-dialog .btn-group .btn-group + .btn,
.oui-dialog .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}

.oui-dialog .btn-group > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.oui-dialog .btn-group > .btn:first-child {
    margin-left: 0;
}
.oui-dialog .btn-group > .btn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.oui-dialog .btn-group > .btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.oui-dialog .btn-group > .btn-group {
    float: left;
}
.oui-dialog .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}
.oui-dialog .btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.oui-dialog .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}