.oui-dialog-green {
    border: solid 1px #008000;
    background: #008000;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.32);
    box-shadow: 0 2px 3px 0 rgba(153,187,232,.32);
}


.oui-dialog-green .dialog-head{
    background: #008000;
}

.oui-dialog-green .dialog-head .dialog-title {
    color: #f5f5f5;
}

.oui-dialog-green .dialog-head .dialog-btn {
    border: none;
}

.oui-dialog-green .btn-primary {
    color: #fff;
    background-color: #008000;
    border-color: #4cae4c;
}

.oui-dialog-green .btn-primary:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}