.oui-tree {
	margin:0;padding:0;display:block;overflow:auto;width:100%;height:100%;border:none 0;
	font-family:Arial, 宋体, 微软雅黑;font-size:14px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -ms-user-select: none;
}
.oui-tree ul,.oui-tree li,.oui-tree .item,.oui-tree label,.oui-tree a,.oui-tree span {
	margin:0;padding:0;display:block;font-size:14px;font-weight:normal;
	background:transparent;border:none 0;box-sizing:border-box;width:auto;white-space:nowrap;				
}
.oui-tree ul,.oui-tree li {
	list-style:none;clear:both;overflow:visible;
}
.oui-tree li {padding:0 0 0 16px;}
.oui-tree ul.levelroot {margin:5px 5px 5px 5px;}
.oui-tree ul.levelroot > li {padding:0;}

.oui-tree ul.box {}
.oui-tree ul.box > li.node {}

.oui-tree li.cur {}
.oui-tree li.disabled {}

.oui-tree li .item {
	float:left;display:inline-block;height:25px;overflow:visible;margin-bottom:1px;
	border-radius:4px;
}
.oui-tree li .item:hover{}
.oui-tree li.cur .item{}
.oui-tree li.cur .item:hover{}

.oui-tree li a.name,.oui-tree li span {
	display:inline-block;height:25px;line-height:23px;
	outline:none;overflow:visible;
	text-align: center; font-size:14px;
}

.oui-tree li .switch {}
.oui-tree:hover li .switch {}

.oui-tree li .switch {width:25px;cursor:pointer;float:left;}
.oui-tree li .switch:hover {background-color:#e5f3ff;background-color:transparent;border-radius:4px;}

.oui-tree li .switch {background:transparent url("imgs/tree.png") no-repeat 0 0;}
.oui-tree li .switch-open {background:url("imgs/tree.png") no-repeat -25px 0;}

.oui-tree li .switch-device {background:transparent url("imgs/tree.png") no-repeat -50px 0;}
.oui-tree li .switch-device-open {background:url("imgs/tree.png") no-repeat -75px 0;}

.oui-tree li .switch-arrow {background:transparent url("imgs/tree.png") no-repeat -100px 0;}
.oui-tree li .switch-arrow-open {background:transparent url("imgs/tree.png") no-repeat -125px 0;}
.oui-tree li .switch-arrow:hover {background:transparent url("imgs/tree.png") no-repeat -150px 0;}
.oui-tree li .switch-arrow-open:hover {background:transparent url("imgs/tree.png") no-repeat -175px 0;}


.oui-tree li .switch-none {background:none;cursor:default;}
.oui-tree li .switch-none:hover {background:none;}

.oui-tree li .check{float:left;width:25px;height:25px;border:none;box-sizing:border-box;background-color:transparent;}
.oui-tree li .check{background:url("imgs/tree.png") no-repeat 0 -50px;}
.oui-tree li .check-true{background:url("imgs/tree.png") no-repeat -50px -50px;}
.oui-tree li .check-part-true{background:url("imgs/tree.png") no-repeat -100px -50px;}
.oui-tree li .check-disabled{background:url("imgs/tree.png") no-repeat -150px -50px;cursor:not-allowed;}
.oui-tree li .check-disabled-true{background:url("imgs/tree.png") no-repeat -175px -50px;cursor:not-allowed;}

.oui-tree li .check:hover {background:url("imgs/tree.png") no-repeat -25px -50px;}
.oui-tree li .check-disabled:hover{background:url("imgs/tree.png") no-repeat 0 -75px;}
.oui-tree li .check-true:hover {background:url("imgs/tree.png") no-repeat -75px -50px;}
.oui-tree li .check-part-true:hover {background:url("imgs/tree.png") no-repeat -125px -50px;}

.oui-tree li .icon{width:25px;float:left;cursor:pointer;background:transparent url("imgs/tree.png") no-repeat 0 -25px;}
.oui-tree li .icon:hover{background-color:none;}
.oui-tree li .icon-open{background:url("imgs/tree.png") no-repeat -25px -25px;}
.oui-tree li .icon-page{background:transparent url("imgs/tree.png") no-repeat -50px -25px;}
.oui-tree li .icon-none{background:none;}
.oui-tree li .text{text-align:left;}
.oui-tree li .desc{color:#999;margin:0 0 0 5px;}
.oui-tree li .count{color:#f00;}

.oui-tree li a{cursor:pointer;margin:0 1px;padding:0 5px 0 2px;border:solid 1px transparent;border-radius:4px;}
.oui-tree li a:hover{background: #e5f3ff;}
.oui-tree li.cur > .item a{background: #cce8ff;border-color: #cce8ff;}
.oui-tree li.cur > .item a:hover{background: #cce8ff;border-color: #99d1ff;}

.oui-tree ul.hide,.oui-tree li.hide,.oui-tree span.hide{display:none;}

.oui-tree-box {
	display:block;position:absolute;overflow:hidden;box-sizing:border-box;border-radius:5px;
	border:solid 1px #ccc;margin:0;padding:0;
	height:200px;
}
.oui-tree-elem {

}
.oui-tree-elem-bottom {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.oui-tree-elem-top {
	border-top-left-radius:0;
	border-top-right-radius:0;
}