.oui-tree-box {
	width:100%;height:100%;border:none 0;
	display:block;overflow:hidden;
	position: relative;
	padding:0;margin:0;
	background: #fff;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-ms-user-select: none;
}

.oui-tree {
	width:100%;height:100%;border:none 0;
	font-size:14px;font-family:Arial,宋体,微软雅黑;
	display:block;overflow:auto;
	padding:0;margin:0;
	background: #fff;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-ms-user-select: none;
}
.oui-tree-box ul,.oui-tree-box li {
	margin:0; padding:0; list-style:none;clear:both;display:block;border:none;
}

.oui-tree ul,
.oui-tree li,
.oui-tree label,
.oui-tree a,
.oui-tree span,
.oui-tree .item {
	margin:0;padding:0;display:block;
	font-size:14px;font-weight:normal;
	background:transparent;color:#000;
	border:none 0;box-sizing:border-box;
	width:auto;white-space:nowrap;
	width:-moz-max-content;
	width:-webkit-max-content;
}
.oui-tree ul,
.oui-tree li {
	list-style:none;clear:both;overflow:visible;display:block;
	padding:0;margin:0;border:none;
}
.oui-tree ul.levelroot {
	margin:5px 5px 5px 5px;padding:3px 20px 70px 0;overflow:visible;display:block;
}
.oui-tree ul.levelroot > li {padding:0;}

.oui-tree ul.box {}
.oui-tree ul.box > li.node {}

.oui-tree li.cur {}
.oui-tree li.disabled {}

.oui-tree li {padding:0 0 0 16px;display:block;}

.oui-tree li .item {
	float:left;display:inline-block;height:25px;overflow:visible;margin-bottom:1px;
	border-radius:4px;width:auto;clear:both;
}
.oui-tree li .item:hover{}
.oui-tree li.cur .item{}
.oui-tree li.cur .item:hover{}

.oui-tree li .item a.name,.oui-tree li .item a.name span,.oui-tree li .item span {
	display:inline-block;height:25px;line-height:23px;
	outline:none;overflow:visible;white-space:nowrap;
	text-align:center; font-size:14px;
}
.oui-tree li .item a.name span {float:left;display:inline-block;}

.oui-tree li .item a.name{
	cursor:pointer;margin:0 1px;padding:0 3px 0 2px;
	border:solid 1px transparent;border-radius:4px;
	width:auto;white-space:nowrap;float:left;
}
.oui-tree li .item a.name:hover{background: #e5f3ff;}
.oui-tree li.cur > .item a.name{background: #cce8ff;border-color: #cce8ff;}
.oui-tree li.cur > .item a.name:hover{background: #cce8ff;border-color: #99d1ff;}

.oui-tree li .item span i,
.oui-tree li .item span b {display:inline-block;white-space:nowrap;}

.oui-tree li .item .switch {}
.oui-tree li:hover .item .switch {}

.oui-tree li .item .switch {width:25px;cursor:pointer;float:left;}
.oui-tree li .item .switch:hover {background-color:#e5f3ff;background-color:transparent;border-radius:4px;}

.oui-tree li .item .switch,
.oui-tree li .item .switch-default {background:transparent url("imgs/tree.png") no-repeat 0 0;}
.oui-tree li .item .switch-open,
.oui-tree li .item .switch-default-open {background:url("imgs/tree.png") no-repeat -25px 0;}

.oui-tree li .item .switch-device {background:transparent url("imgs/tree.png") no-repeat -50px 0;}
.oui-tree li .item .switch-device-open {background:url("imgs/tree.png") no-repeat -75px 0;}

.oui-tree li .item .switch-arrow {background:transparent url("imgs/tree.png") no-repeat -100px 0;}
.oui-tree li .item .switch-arrow-open {background:transparent url("imgs/tree.png") no-repeat -125px 0;}
.oui-tree li .item .switch-arrow:hover {background:transparent url("imgs/tree.png") no-repeat -150px 0;}
.oui-tree li .item .switch-arrow-open:hover {background:transparent url("imgs/tree.png") no-repeat -175px 0;}

.oui-tree li .item .switch-none {background:none;cursor:default;}
.oui-tree li .item .switch-none:hover {background:none;}

.oui-tree li .item .check{float:left;width:25px;height:25px;border:none;box-sizing:border-box;background-color:transparent;}
.oui-tree li .item .check{background:url("imgs/tree.png") no-repeat 0 -50px;}
.oui-tree li .item .check-true{background:url("imgs/tree.png") no-repeat -50px -50px;}
.oui-tree li .item .check-part-true{background:url("imgs/tree.png") no-repeat -100px -50px;}
.oui-tree li .item .check-disabled{background:url("imgs/tree.png") no-repeat -150px -50px;cursor:not-allowed;}
.oui-tree li .item .check-disabled-true{background:url("imgs/tree.png") no-repeat -175px -50px;cursor:not-allowed;}

.oui-tree li .item .check:hover {background:url("imgs/tree.png") no-repeat -25px -50px;}
.oui-tree li .item .check-disabled:hover{background:url("imgs/tree.png") no-repeat 0 -75px;}
.oui-tree li .item .check-true:hover {background:url("imgs/tree.png") no-repeat -75px -50px;}
.oui-tree li .item .check-part-true:hover {background:url("imgs/tree.png") no-repeat -125px -50px;}

.oui-tree li .item .icon{width:25px;float:left;cursor:pointer;background:transparent url("imgs/tree.png") no-repeat 0 -25px;}
.oui-tree li .item .icon:hover{background-color:none;}
.oui-tree li .item .icon-open{background:url("imgs/tree.png") no-repeat -25px -25px;}
.oui-tree li .item .icon-page{background:transparent url("imgs/tree.png") no-repeat -50px -25px;}
.oui-tree li .item .icon-none{background:none;}

.oui-tree li .item span.text{text-align:left;}

.oui-tree li .item span.desc{color:#999;}
.oui-tree li .item span.desc b{margin:0 0 0 5px;font-weight:normal;}

.oui-tree li .item span.count{color:#f50;font-family:'Courier New';font-weight:bold;}
.oui-tree li .item span.count b{margin:0 0 0 5px;font-style:normal;}

.oui-tree li .item .button{
	margin:0 0 0 5px;padding:0;height:25px;
	display:inline-block;overflow:hidden;border:none;background:transparent;
	box-sizing:border-box;visibility:hidden;
	width: 125px;
}
.oui-tree li > .item:hover .button {visibility:visible;}

.oui-tree li .item .button .btn{
	margin:0;padding:0;display:inline-block;
	border:none;box-sizing:border-box;border-radius:4px;
	cursor:pointer;width:25px; height:25px;
}

.oui-tree li .item .button .btn-add {
	background:transparent url("imgs/tree.png") no-repeat 0px -75px;
}
.oui-tree li .item .button .btn-edit {
	background:transparent url("imgs/tree.png") no-repeat -25px -75px;
}
.oui-tree li .item .button .btn-del,
.oui-tree li .item .button .btn-delete,
.oui-tree li .item .button .btn-wrong {
	background:transparent url("imgs/tree.png") no-repeat -50px -75px;
}
.oui-tree li .item .button .btn-enable,
.oui-tree li .item .button .btn-enabled,
.oui-tree li .item .button .btn-right {
	background:transparent url("imgs/tree.png") no-repeat -75px -75px;
}
.oui-tree li .item .button .btn-disable,
.oui-tree li .item .button .btn-disabled {
	background:transparent url("imgs/tree.png") no-repeat -100px -75px;
}
.oui-tree li .item .button .btn-up {
	background:transparent url("imgs/tree.png") no-repeat -125px -75px;
}
.oui-tree li .item .button .btn-down {
	background:transparent url("imgs/tree.png") no-repeat -150px -75px;
}
.oui-tree li .item .button .btn-moveup {
	background:transparent url("imgs/tree.png") no-repeat -175px -75px;
}
.oui-tree li .item .button .btn-movedown {
	background:transparent url("imgs/tree.png") no-repeat -200px -75px;
}
.oui-tree li .item .button .btn-goto,
.oui-tree li .item .button .btn-return {
	background:transparent url("imgs/tree.png") no-repeat -225px -75px;
}
.oui-tree li .item .button .btn-reload,
.oui-tree li .item .button .btn-refurbish {
	background:transparent url("imgs/tree.png") no-repeat -250px -75px;
}
.oui-tree li .item .button .btn-config {
	background:transparent url("imgs/tree.png") no-repeat -275px -75px;
}

.oui-tree li .item .button .btn:hover {
	border: none;
	background-color: #e5f3ff;
}

.oui-tree ul.hide,.oui-tree li.hide,.oui-tree span.hide{display:none;}


/*用于拖动节点*/

.oui-tree li.node-drop > .item {
	background:#fff9f0;border:solid 1px #ffd6a2;
	height:25px;border:none;background:transparent;
}
.oui-tree li.node-drop > .item a,
.oui-tree li.node-drop > .item span {
	opacity:0.5;
}
.oui-tree li.node-drop > .item .switch {
	opacity: 1;
	background:url("imgs/tree.png") no-repeat -200px -75px
}
.oui-tree li.drop-up > .item {	
	border-top: dotted 2px #008000;
	border-radius: 0;
}
.oui-tree li.drop-down > .item {	
	border-bottom: dotted 2px #008000;
	border-radius: 0;
}
.oui-tree li.drop-up > .item .switch {
	background:url("imgs/tree.png") no-repeat -200px -75px
}
.oui-tree li.drop-down > .item .switch {
	background:url("imgs/tree.png") no-repeat -225px -75px
}
.oui-tree li.node-drop .button {
	visibility: hidden;
}
.oui-tree-clone {
	position:fixed;left:0;top:0;pointer-events:none;overflow:hidden;width:auto;
	height:25px;background:#cce8ff;opacity:0.8;margin:0;padding:0;
	box-sizing:border-box;border-radius:4px;border:solid 1px #99d1ff;
}
.oui-tree-clone li.node-clone {
	margin:0;padding:0 5px 0 0;
}
.oui-tree-clone li.node-clone .switch{
	/*visibility: hidden;*/
	background:#cce8ff url("imgs/tree.png") no-repeat -175px -75px
}
.oui-tree-clone li.node-clone .button {
	display: none;
}

.oui-tree li.node-drag {opacity: 0.5;height:25px;}
.oui-tree li.node-drag > ul.box {display: none;}
.oui-tree li.node-drag > .item a.name {
 	background:#fff;border:dotted 1px #ffd6a2;
}
.oui-tree li.node-drag > .item .button {visibility: hidden;}


/*用于下拉框弹出树菜单*/
.oui-tree-popup {
	display:block;position:absolute;overflow:hidden;
	background: transparent;
	margin:0;padding:0;
	min-height:200px;
	/*box-shadow: 1px 1px 3px 0 rgba(100,100,100,0.32);*/
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	
	border:solid 1px #66afe9;
	border-radius: 5px;
	box-sizing: border-box;
}
.oui-tree-box-bottom {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: -1px;
}
.oui-tree-box-top {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-top: 1px;
}

.oui-tree-elem {

}

.oui-tree-elem:focus,.oui-tree-elem-cur {
	outline:none;
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.oui-tree-elem-bottom {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.oui-tree-elem-top {
	border-top-left-radius:0;
	border-top-right-radius:0;
}

/*用于搜索*/

.oui-tree-form {
	position: absolute;
	border: none;
	box-sizing: border-box;
	border-bottom:solid 1px #99bbe8;
	width: 100%;
	height: 39px;
	padding:0 4px;
	margin:0;
}

.oui-tree-form input,
.oui-tree-form button {
	float: left;
	margin: 4px 0 0 0;
	height: 26px;
	outline: none;
}

.oui-tree-form .search {
	width:25px;height:25px;
	position: absolute;
	top: 2px;
	right: 7px;
	border:solid 1px #f00;
	border: none;
	outline: none;
	margin: 5px 0 0 0;
	padding: 0;
	background: url("imgs/tree.png") no-repeat -275px -50px;
}
.oui-tree-form .keywords {
	height: 30px;
	line-height: 28px;
	outline: none;
	padding: 0 30px 0 7px;
	border: solid 1px #ccc;
	box-sizing: border-box;
	border-radius: 4px;
}
.oui-tree-form .keywords:hover {
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.oui-tree-form .keywords-popup{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

/*
.oui-tree-form .btn-primary {
	height: 30px;
	width: 55px;
	border: solid 1px #2e6da4;
	background: #337ab7;
	box-sizing: border-box;
	color: #fff;
	font-family: 宋体;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: solid 1px transparent;
	margin-left: -1px;
}

.oui-tree-form .btn-primary:hover {
	background: #286090;
	border: solid 1px #204d74;
}
.oui-tree-form .search {
	border:solid 1px #ccc;
	box-sizing: border-box;
	height: 30px;
	width: 50px;
	line-height: 20px;
	padding: 3px;
	font-size: 14px;
	font-family: Arial,宋体;
  	border-radius: 5px;
  	cursor: pointer;
}
.oui-tree-form .search:hover {
	background: #e6e6e6;
	border: solid 1px #adadad;
}
*/

.oui-tree-box .search-result-panel {
	box-sizing: border-box;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	position: absolute;
	background: #fff;
	opacity: 0.96;
	margin: 0;
	padding: 0;
	top: 33px;
	left: 0;
	display: block;
	margin: 0 4px;
	min-height: 30px;
	overflow: hidden;

	border:solid 1px #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.oui-tree-box .search-result-panel .search-title {
	border: none; 
	box-sizing: border-box;
	border-bottom: solid 1px #99d1ff;
	height: 30px;
	line-height:30px;
	margin: 0;
	padding: 0 3px 0 8px;
}
.oui-tree-box .search-result-panel .search-title b{
	color: #f00;marign:0 2px;font-weight: normal;
}
.oui-tree-box .search-result-panel .search-title .ots-title{
	
}
.oui-tree-box .search-result-panel .search-title .ots-clear,
.oui-tree-box .search-result-panel .search-title .ots-close {
	font-size: 14px; font-family: 宋体,微软雅黑;
	color: #000;
	text-decoration: none;
	float:right; cursor: pointer; 
	margin:0; padding: 0 3px 0 4px;
	border: none; background: transparent;
	outline: none; display: inline-block;
}

.oui-tree-box .search-result-panel .search-title i {
	float: right;
	font-style: normal;
	font-family: 宋体;
	font-size: 12px;
	line-height: 30px;
	color: #999;
}

.oui-tree-box .search-result-panel .search-list {
	overflow: auto;
	margin: 0;
	padding: 0;
	width: 100%;
}

.oui-tree-box .search-result-panel li {
	height: 30px;
	line-height: 29px;
	padding: 0 8px 0 3px;
	border-bottom: dotted 1px #cce8ff;
	box-sizing: border-box;
	cursor: default;
	clear: both;
	overflow: hidden;
	white-space:nowrap;
	font-family: 宋体,微软雅黑;
	font-size: 14px;
}
.oui-tree-box .search-result-panel li:last-child {
	border-bottom: none;
}
.oui-tree-box .search-result-panel li:hover {
	background: #e5f3ff;
}
.oui-tree-box .search-result-panel li b {
	color: #f00; font-weight: normal;
}
.oui-tree-box .search-result-panel li .icon {
	width: 25px;
	height: 25px;
	border: none;
	box-sizing: border-box;
	float:left;
	margin: 1px 1px 0 0;
	padding: 0;
	cursor: default;
}

/*用于搜索列表*/
.oui-tree-box .search-result-panel li .icon{background:transparent url("imgs/tree.png") no-repeat 0 -25px;}
.oui-tree-box .search-result-panel li .icon-page{background:transparent url("imgs/tree.png") no-repeat -50px -25px;}