.oui-tree {
	margin:0;padding:0;display:block;overflow:auto;
	width:100%;height:100%;background:#fff;
	border:none 0;box-sizing:border-box;
	font-size:14px;font-family:Arial,宋体,微软雅黑;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -ms-user-select: none;
}
.oui-tree ul,.oui-tree li,.oui-tree .item,.oui-tree label,.oui-tree a,.oui-tree span {
	margin:0;padding:0;display:block;font-size:14px;font-weight:normal; visibility: ;
	background:transparent;border:none 0;box-sizing:border-box;width:auto;white-space:nowrap;
}
.oui-tree ul,.oui-tree li {
	list-style:none;clear:both;overflow:visible;
}
.oui-tree li {padding:0 0 0 18px;overflow:hidden;}
.oui-tree ul.levelroot {margin:5px 5px 50px 5px;}
.oui-tree ul.levelroot > li {padding:0;}

.oui-tree ul.box {}
.oui-tree ul.box > li.node {}

.oui-tree li.cur {}
.oui-tree li.disabled {}

.oui-tree li .item {
	float:left;display:inline-block;height:24px;overflow:visible;margin-bottom:1px;
	border-radius:4px;
}
.oui-tree li .item:hover{}
.oui-tree li.cur .item{}
.oui-tree li.cur .item:hover{}

.oui-tree li a.name,.oui-tree li span {
	display:inline-block;height:24px;line-height:22px;
	outline:none;overflow:visible;
	text-align: center; font-size:14px;
}
.oui-tree li .switch {visibility:hidden;visibility:visible;}
.oui-tree:hover li .switch {visibility:visible;}

.oui-tree li .switch{width:24px;cursor:pointer;float:left;background:transparent url("imgs/tree.png") no-repeat 0 0;}
.oui-tree li .switch:hover{background-color:#e5f3ff;border-radius:4px;}
.oui-tree li .switch-open {background:url("imgs/tree.png") no-repeat -24px 0;}
.oui-tree li .switch-none {background:none;cursor:default;}
.oui-tree li .switch-none:hover {background:none;}

.oui-tree li .check{float:left;width:24px;height:24px;border:none;box-sizing:border-box;background-color:transparent;}
.oui-tree li .check{background:url("imgs/tree.png") no-repeat 0 -48px;}
.oui-tree li .check-true{background:url("imgs/tree.png") no-repeat -48px -48px;}
.oui-tree li .check-true-part{background:url("imgs/tree.png") no-repeat -96px -48px;}
.oui-tree li .check-disabled{background:url("imgs/tree.png") no-repeat 0 -72px;cursor:not-allowed;}
.oui-tree li .check-disabled-true{background:url("imgs/tree.png") no-repeat -24px -72px;cursor:not-allowed;}

.oui-tree li .check:hover {background:url("imgs/tree.png") no-repeat -24px -48px;}
.oui-tree li .check-disabled:hover{background:url("imgs/tree.png") no-repeat 0 -72px;}
.oui-tree li .check-true:hover {background:url("imgs/tree.png") no-repeat -72px -48px;}
.oui-tree li .check-true-part:hover {background:url("imgs/tree.png") no-repeat -120px -48px;}

.oui-tree li .icon{width:24px;float:left;cursor:pointer;background:transparent url("imgs/tree.png") no-repeat 0 -24px;}
.oui-tree li .icon:hover{background-color:none;}
.oui-tree li .icon-open{background:url("imgs/tree.png") no-repeat -24px -24px;}
.oui-tree li .icon-page{background:transparent url("imgs/tree.png") no-repeat -48px -24px;}
.oui-tree li .icon-none{background:none;}
.oui-tree li .text{text-align:left;}
.oui-tree li .desc{color:#999;margin:0 0 0 5px;}
.oui-tree li .count{color:#f00;}

.oui-tree li a{cursor:pointer;margin:0 1px;padding:0 5px 0 2px;border:solid 1px transparent;border-radius:4px;}
.oui-tree li a:hover{background: #e5f3ff;}
.oui-tree li.cur > .item a{background: #cce8ff;border-color: #cce8ff;}
.oui-tree li.cur > .item a:hover{background: #cce8ff;border-color: #99d1ff;}

.oui-tree ul.hide,.oui-tree li.hide,.oui-tree span.hide{display:none;}