.oui-dialog-zyrh {
    border: solid 1px #cdcdcd;
    background: #cdcdcd;
}

.oui-dialog-zyrh .dialog-head{
    background: #cdcdcd;
}

.oui-dialog-zyrh .dialog-head .dialog-title {
    color: #333;
}

.oui-dialog-zyrh .dialog-head .dialog-btn {
    border: none;
}

.oui-dialog-zyrh .dialog-body .dialog-icon {
    border: none 0;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 3px; top: 3px;
    display: block;
}

.oui-dialog-zyrh .dialog-foot .button-panel {
    border: none 0;
    box-sizing: border-box;
    /*border-top: solid 1px #ddd;*/
    text-align: right;
    margin: 6px 6px 5px;
    padding: 0;
}
