.oui-dialog-zyrh {
    border: solid 1px #cdcdcd;
    background: #cdcdcd;
}

.oui-dialog-zyrh .dialog-head{
    background: #cdcdcd;
}

.oui-dialog-zyrh .dialog-head .dialog-title {
    color: #333;
}

.oui-dialog-zyrh .dialog-head .dialog-btn {
    border: none;
}